*{
	box-sizing: border-box;
    text-decoration: none;
}
            .header{
                height: 80px;
                width: 100%;
                border-bottom: 2px solid #80808036;
            }
            .logo-header{
                text-align: center;
                padding-left: 20%;
                float: left;
                padding-top: 10px;
            }
            .contact-phone{
                position: relative;
                padding-left: 10%;
            }
            .contact-phone b{
                position: absolute;
                top: 35px;
            }
            .slide{
                background-color: #80808014;
                text-align: center
            }
            .frm-regis{
                width: 350px;
                height: 480px;
                background-color: white;
                border-top: 5px solid #8fb934;
                box-shadow: 0px 0px 20px   grey;
                border-radius: 1%;
                float : right; 
                display: block;
                margin: 110px 60px 0px 0px;
            }
            .form-horizontal input{
                width: 70%;
                margin: auto; 
            }
            .form-horizontal select{
                width: 70%;
                margin: auto; 
            }
            .form-horizontal button{
                width: 75%;
                height: 40px;
                margin: auto; 
                background-color: #8fb934;
                margin-bottom: 10px;
            }
            .form-horizontal button:hover{
                background-color: #8fb934e0
            }
            .footer{
                background-color: #8fb934;
            }
            .step img{
                background-color: rgb(222, 151, 23);
            }
            .step h4{
                color: #8fb934e0;
            }
            .step h5{
                margin-top: -10px;
            }
