body{
    position: relative;
}
.custom-header{
   /* display: inline; */
   margin-top: 5px;
   padding-bottom: 5px;
   border-bottom: 1px solid rgba(48,76,142);
}
.header-logo{
    margin-left: 20%;
}
header .logo img{
    height: 50px;
    margin: 0px 5px;
}
header .header-phone{
    position: relative;
    height: 50px;
}
header .header-phone b{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.banner-box {
    position: relative;
    text-align: center;
}
.banner-box .register-box{
    border-radius: 8px;
    width: 320px;
    background-color: rgba(255,255,255);
    position: absolute;
    right: 16%;
    bottom: 10px;
    padding: 20px;
    border-top: 8px solid rgba(141,182,51);

}
.banner-box .banner-title-1{
    color: rgba(141,182,51);
}
.banner-box .banner-title-2{
    color: rgba(168,168,168);
}
.banner-box .register-box .btn-register {
    width: 100%;
    height: 50px;
    background-color: rgba(141,182,51);
    border: none;
    color:rgba(255,255,255);
    font-size: 20px;
    border-radius: 5px;
}

.content-1 {
    text-align: center;
    margin-top: 30px;
}
.content-title_1{
    color: rgba(141,182,51);
    margin-bottom: 30px;
}
.content-1 .content-box_title{
    color: rgba(141,182,51);
}
.content-1 .content-box_btnRegister-1{
    /* width: 50px; */
    /* height: 50px; */
    background-color: rgba(141,182,51);
    border: none;
    color:rgba(255,255,255);
   /* // font-size: 15px; */
    border-radius: 5px;
    margin-top: 15px;
    padding: 7px 25px;
}
.content-2 {
    text-align: center;
    margin-top: 30px;
    background-color: rgba(228, 228, 228);
    /* margin-bottom: 30px; */
    padding: 50px;
}
.content-2 .content-title_2{
   
    color: rgba(141,182,51);
    margin-bottom: 30px;
}
.content-2 img{
    margin-bottom: 10px;
}
.content-3{
    background-image: url(../img/Slide_bg.jpg);
}
