.tips .item .avatar {
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	margin: 0 auto 9%;
	width: 159px;
	overflow: hidden;
	position: relative;
}

.tips .item:hover .avatar span {
	top: 0%;
}
.tips .item .avatar img {
	opacity: 1;
	z-index: 3;
	position: relative;
	-webkit-transition: 500ms linear all;
	-moz-transition: 500ms linear all;
	-ms-transition: 500ms linear all;
	-o-transition: 500ms linear all;
	transition: 500ms linear all;
	display: block;
}
.tips .item:hover .avatar img {
	opacity: 0;
}
.tips .item .avatar span {
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	background: #DE9717;/*#34497c;*/
	top: 0;
	left: 0;
	z-index: 1;
}
.tips .item .avatar span em {
	font-style: normal;
	color: white;
	display: block;
	font-family: 'BebasRegular';
	font-size: 3.9em;
	line-height: 1.5em;
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	width: 100%;
}

.why.generic-section {
	background: none repeat scroll 0 0 #E4E4E4;
	
}