body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header .nav-wrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

header .row {
    padding: 0 15%;
}

header .logo {
    height: 70px;
    width: 150px;
    margin: 0 5px;
}

header .phone-contact {
    height: 50px;
    position: relative;
}

header .phone-contact b {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}


header .banner {
    text-align: center;
    position: relative;
    background-color: whitesmoke;
}


header .register-form {
    width: 314px;
    padding: 0px;
    right: 20%;
    bottom: 10px;
    position: absolute;
    border-radius: 20px;
    text-align: center;
    background-color: whitesmoke;
    border-top: 10px solid rgba(148, 187, 64, 1);
}

header .register-form h5 {
    font-weight: bold;
    color:  rgb(221, 163, 54);
}

header .sub-title-form {
    font-size: 13px;
}

header input, header select, header button {
    margin-top: 5px;
}

header .submitButton {
    width: 85%;
    height: 50px;
    background-color: rgb(148, 204, 27);
    font-size: 18px;
    font-weight: bolder;
    color: rgb(230, 220, 220);
}

header .submitButton:hover {
    color: rgb(230, 220, 220);
}

header .submitButton:active {
    background-color: rgb(114, 226, 114);
}



.content-wrapper .title {
    margin: 0;
    padding: 50px 0;
    font-weight: bold;
    color: rgba(148, 187, 64, 1);
    font-size: calc(12px + 0.8vw);
}


.content-wrapper .sub-title {
    padding: 0 20px;
    font-weight: bold;
    color: rgba(148, 187, 64, 1);
}


.content-wrapper .section1 {
    padding: 0 15%;
    text-align: center;
}

.content-wrapper .section1 img {
    width: 230px;
    height: 150px;
}

.content-wrapper .section1 button {
    width: 150px;
    margin-bottom: 20px;
    background-color: rgba(148, 187, 64, 1);
    color: #fff;
    font-weight: bold;
}

.content-wrapper .section1 button:active {
    background-color: rgba(85, 107, 37, 1);
}



.content-wrapper .section2 {
    padding: 0 12%;
    text-align: center;
    background-color: rgba(228, 228, 228, 1);
    padding-bottom: 50px;
}

.content-wrapper img {
    padding-bottom: 10px;
}



.content-wrapper .section3 {
    padding: 0 12%;
    text-align: center;
    background-image: url(../img/benefit-2-bg.jpg);
}

.content-wrapper .section3 .title, .content-wrapper .section3 .sub-title {
    color: #fff;
}


.content-wrapper .section4 {
    padding: 0 12%;
    text-align: center;
    padding-bottom: 100px;
}


footer p {
    width: 100%;
    margin: 0;
    padding: 30px;
    text-align: center;
    background-color: rgba(148, 187, 64, 1);
    color: #000;
    font-weight: bold;
    position: fixed;
    bottom: 0;
}

footer img {
    position: fixed;
    right: 0;
    bottom: 0;
}