<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		 <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/spring_jpa</property>
         <property name="show_sql">1</property>
    	<property name="hibernate.id.new_generator_mappings">false</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
		<!-- insert UTF-8 -->
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.connection.charSet">UTF-8</property>
		<!-- Mapping file -->
		<mapping class="com.lhlinh.app.entities.User" />
		<mapping class="com.lhlinh.app.entities.Contact" />
	</session-factory>
</hibernate-configuration>