* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: auto;
    position: relative;
}
.header {
    position: relative;
    height: 80px;
    border: 3px solid gray;
}

.header .logo {
    position: absolute;
    width: 250px;
    left: 20%;
    height: 100%;
    background-image: url("images/logo-pic1.jpg");
}

.header .hotline {
    position: absolute;
    width: 350px;
    left: 40%;
    height: 100%;
    
}
.header .hotline h2 {
    font-size: 20px;
    color:black;
}
.header .login-container {
    position: absolute;
    left: 70%;
    top: 10%;
    height: 100%;
}

.header .login-container button {
    font-size: 20px;
    background: #8BC34A
}
  
  .header .login-container button:hover {
    background-color: green;
  }
 
   
    .header input[type=text] {
      border: 1px solid #ccc;  
      height: 30px;
    }
.clear {
    clear: both;
}
.content {
    position: relative;
    height: auto;
}
.content-left {
    left: 0;
    position: absolute;
    background:gray;
    width: 20%;
    height: 500px;
}
.content-center {
    position: absolute;
  
    width: 65%;
    left: 20%;
    overflow: hidden;
    background-size: 100% 500px;
}
.content-right {
    position: absolute;
    background:gray;
    height: 500px;
    width: 15%;
    right: 0;
}

.section-1 {
    background-image: url('images/pic1-bg.gif');
    background-repeat: no-repeat;
    background-size: 100% 500px;
    height: 500px;
    position: relative;
    z-index: 1;
}

.form-s1 {
    position: absolute;
    margin-top: 5px;
    bottom: 15px;
    right: 13%;
    max-width: 210px;
    max-height: 450px;
    background:lemonchiffon;
    z-index: 999;
}
.form-s1 legend {
    text-transform: uppercase;
    font-weight: 1000px;
    color: darkorange;
    font-size: 18px;
    text-align: center;
    font-family: monospace;
}
.form-s1 p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-s1 input[type=text], input[type=email] {
   
    margin: 5px 5% 5px 5%;
    height: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 90%;
}

.form-s1 select {
    margin: 10px 5% 10px 5%;
    height: 20px;
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px;

}

.form-s1 input[type=submit] {
    margin: 10px 5% 10px 5%;
    height: 30px;
    margin: 5px;
    width: 90%;
    background: #8BC34A;
    color: white;
    text-transform: uppercase;
}

.section-2 {
    height: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: whitesmoke;
    
}

h2 {
    text-transform: uppercase;
    color: #8BC34A;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-2 .box {
    position: relative;
    height: 350px;
    
}

.section-2 .box  .box1 {
    position: absolute;
    width: 190px;
    height: 90%;
    left: 5%;
}

.section-2 .box  .box1 .img-box1 {
    background-image: url('images/img-box1.JPG');
    background-repeat: no-repeat;
    background-size: 100% 120px;
    height: 120px;
}
.section-2 .box  .box2 {
    position: absolute;
    width: 190px;
    height: 90%;
    left: 28%;

}

h3{
    text-transform: uppercase;
    color: #8BC34A;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-title p::first-letter {
    text-transform: uppercase;
}

.section-2 .box  .box2 .img-box2 {
    background-image: url('images/img-box2.JPG');
    background-repeat: no-repeat;
    background-size: 100% 120px;
    height: 120px;
}

.section-2 .box  .box3 {
    position: absolute;
    width: 190px;
    height: 90%;
    left: 52%;

}

.section-2 .box  .box3 .img-box3 {
    background-image: url('images/img-box3.JPG');
    background-repeat: no-repeat;
    background-size: 100% 120px;
    height: 120px;
}

.section-2 .box  .box4 {
    position: absolute;
    width: 190px;
    height: 90%;
    right: 5%;

}
.section-2 .box  .box4 .img-box4 {
    background-image: url('images/img-box4.JPG');
    background-repeat: no-repeat;
    background-size: 100% 120px;
    height: 120px;
}
.button-s2 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100px;
    height: 30px;
    background-color: #8BC34A;
    color: aliceblue;
    left: 45%;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
}
.section-3 {
    height: 450px;
    margin-top: 15px;
    background: whitesmoke;
}
.section-3 .box {
    height: 350px;

    position: relative;
}
.section-3 .box .box1 {
    position: absolute;
    width: 150px;
    left: 5%;
    height: 100%;


}
.section-3 .box .box1 {
    position: absolute;
    width: 140px;
    left: 5%;
    height: 100%;


}

.section-3 .box .box1 .img-box1 {
    background-image: url("images/img-box1-s3.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100px;
    height: 100px;
}
.section-3 .box .box2 {
    position: absolute;
    width: 140px;
    left: 21%;
    height: 100%;


}
.section-3 .box .box2 .img-box2 {
    background-image: url("images/img-box2-s3.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100px;
    height: 100px;
}
.section-3 .box .box3 {
    position: absolute;
    width: 140px;
    left: 37%;
    height: 100%;

}
.section-3 .box .box3 .img-box3 {
    background-image: url("images/img-box3-s3.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100px;
    height: 100px;
}

.section-3 .box .box4 {
    position: absolute;
    width: 140px;
    left: 53%;
    height: 100%;

}
.section-3 .box .box4 .img-box4 {
    background-image: url("images/img-box4-s3.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100px;
    height: 100px;
}

.section-3 .box .box5 {
    position: absolute;
    width: 140px;
    left: 69%;
    height: 100%;

}
.section-3 .box .box5 .img-box5 {
    background-image: url("images/img-box5-s3.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100px;
    height: 100px;
}
.section-3 .box .box6 {
    position: absolute;
    width: 140px;
    left: 85%;
    height: 100%;

}
.section-3 .box .box6 .img-box6 {
    background-image: url("images/img-box6-s3.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100px;
    height: 100px;
}
.section-3  p {
    margin-top: 30px;
}
.section-3  p::first-letter {
    text-transform: uppercase;
}
.section-4 {
    height: 450px;
    background-image: url("images/s4-bg.JPG");
    background-repeat: no-repeat;
    background-size: 100% 450px;
}
.section-5 {
    height: 300px;
    background-image: url("images/s5-bg.JPG");
    background-repeat: no-repeat;
    background-size: 100% 300px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.footer {
    margin-top: 15px;
    width: 100%;
    height: 15%;
    background: blueviolet;
    position: absolute;
    bottom: 0px;
}
